name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
        dotnet-quality: ga

    - name: Restore
      run: dotnet restore ./Nuons.slnx

    - name: Build
      run: dotnet build --no-restore ./Nuons.slnx

    - name: Test
      run: dotnet test --no-build --solution Nuons.slnx -- --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

    - name: Install ReportGenerator
      run: dotnet tool install -g dotnet-reportgenerator-globaltool

    - name: Generate code coverage report
      run: reportgenerator -reports:"**/coverage.cobertura.xml" -targetdir:"artifacts/code-coverage" -reporttypes:"TextSummary"

    - name: Add code coverage summary
      run: |
        echo "## Code Coverage Summary" >> $GITHUB_STEP_SUMMARY
        grep -E "Line coverage|Branch coverage|Method coverage|Full method coverage" artifacts/code-coverage/Summary.txt >> $GITHUB_STEP_SUMMARY
